<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">开发历程</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020.10-2021.01</h4>
                                    <h4 class="subheading">项目立项&开题答辩</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">在此期间，我进行了高光谱遥感图像解混的相关基础知识的储备，检索并翻译了文献，熟悉了高光谱遥感图像的基础原理，为开发打好了基础</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021.01-2021.02</h4>
                                    <h4 class="subheading">完成高光谱图像读取与显示模块</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">使用Python实现Envi格式高光谱图像读取与显示模块，本模块读取高光谱图像的头文件，将其中的详细信息显示在界面上，并能够根据用户指定的RGB波段显示彩色图像，同时可以指定坐标，显示像元波段的曲线图</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021.02-2021.03</h4>
                                    <h4 class="subheading">完成基于NMF算法的高光谱图像解混模块</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">用户选择需要的NMF解混算法对高光谱图像进行解混，用户还可以进行相应参数的调整。最终进行结果的展示，包括端元矩阵和丰度矩阵的可视化呈现、收敛曲线等，以便用户对不同解混算法的效果进行比较，还可以将结果导出至本地进行保存。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021.03-2021.04</h4>
                                    <h4 class="subheading">完成了高光谱云盘</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">高光谱云盘提供上传、下载文件的功能，是一个功能齐全、简单易用的专用云盘，方便您随时随地上传/下载新的数据，与他人进行数据分享</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>撰写论文
                                    <br>进行答辩
                                    <br>未完待续</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
